### MLD Depth GUI output analysis. 
#### This notebook loads the output from the MLD GUI runs and then analyses the output statistically against other automated methods of estimating MLD depth.

The output that we generate from the MLD GUI is a csv file that looks like this:

![Alt text](Screenshot1.png)

I have added this file as a test file in the same directory.

In [5]:
import pandas as pd

In [20]:
# Load the CSV file into a DataFrame
df = pd.read_csv('C:\\Users\\nribeiro\\OneDrive - University of Tasmania\\Documents\\GitHub\\IMOS-hackathon\\2024\\Projects\\MLD-GUI\\Data\\mld-recorded_test.csv')

In [21]:
df

   Profile n        Date Time (UTC) Austral Season  MLD recorded [m]
0          1  20/01/2014      22:26         Summer                 9
1          2  28/02/2011      22:21         Summer                18
2          3  27/02/2018      23:28         Summer                30
3          4  14/03/2023      20:53         Autumn                16
4          5  21/01/2019      22:02         Summer                 8
5          6  28/06/2022      23:24         Winter                50
6          7  27/02/2018      23:28         Summer                29
7          8  12/06/2014      23:42         Winter                31
8          9  19/08/2015       0:11         Winter                34
9         10  26/09/2016      12:15         Spring                20

### 1. Calculate a few useful statistic measurements, such as mean, median, std.

In [26]:
# Calculate the MLD depth mean 
mean_value = df.iloc[:, 4].mean()  

# Calculate the MLD depth median
median_value = df.iloc[:, 4].median()

# Calculate the MLD depth standard deviation
std_value = df.iloc[:, 4].std()

# Print the results
print("Mean:", mean_value)
print("Median:", median_value)
print("Standard Deviation:", std_value)

Mean: 24.5
Median: 24.5
Standard Deviation: 12.82575533838066

#### 2. Select the different seasons and separate stats for those depths.

In [27]:
# Group the DataFrame by season and calculate mean, median, and std for Depth
season_stats = df.groupby('Austral Season')['MLD recorded [m]'].agg(['mean', 'median', 'std']).reset_index()

In [28]:
season_stats

  Austral Season       mean  median        std
0         Autumn  16.000000    16.0        NaN
1         Spring  20.000000    20.0        NaN
2         Summer  18.800000    18.0  10.521407
3         Winter  38.333333    34.0  10.214369

## THE FUTURE

### Comparing the outputs from the manual selection of MLD depth using our GUI to different automated methods.

##### Here we will need some work done, as we need to find a way for the same profiles that were selected at random to be loaded. 
##### - We are thinking maybe the timestamp or even altering the GUI to record an index for them.
##### - Other options would be to just slice the moorings data into collections and then run entire collections for testing.

#### Ultimate plan: send to people as if it were a game, so we can build a good size randomic dataset to use for the purpose of comparison with automated methods.